@{
    ViewData["Title"] = "Home Page";
}

<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="~/img/img-home-moviz.png" alt="" width="200">
       <h1 class="display-5 fw-bold">Bienvenue sur Moviz!</h1>
        <div class="col-lg-6 mx-auto">
            <p class="lead mb-4">Votre destination ultime pour découvrir, débattre et apprécier le monde du cinéma. Que vous soyez un cinéphile averti ou simplement à la recherche de votre prochain film préféré, nous avons ce qu'il vous faut.</p>
            <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a asp-area="" asp-controller="Movie" asp-action="Index" type="button" class="btn btn-primary btn-lg px-4 gap-3">Voir les films</a>
        </div>
        </div>
</div>

